.my-node-trash {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-node-trash svg {
  width: 14px;
  height: 14px;
  color: #333;
}

.left-port .my-port svg.arrowhead {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  fill: #808080;
  z-index: 3;
}

.right-port .my-port svg.arrowhead {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  fill: #808080;
  z-index: 3;
}

.top-port .my-port svg.arrowhead {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translateX(-50%) rotate(180deg);
  fill: #808080;
  z-index: 3;
}

.bottom-port .my-port svg.arrowhead {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%) rotate(180deg);
  fill: #808080;
  z-index: 3;
}
.custom-text-container {
  margin-top: 90px;
  font-size: 18px;
  color: #000;
  text-align: center;
  width: 100%;
  max-width: 150px;
}

.custom-text-container input {
  border: none;
  background: transparent;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #000;
  outline: none;
}

.custom-text-container span {
  cursor: pointer;
}

.my-node {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.my-node p {
  margin: 0;
  text-align: center;
  width: 100%;
}

.in-out-node-class {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.top-port .my-port {
  position: absolute;
  top: -50px; 
  left: 50%;
  transform: translateX(-50%);
}

.bottom-port .my-port {
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
}
